@use "../abstracts/variables" as *;

body {
  font-family: $font-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text;
  background: $color-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  line-height: 1.2;
  margin-block: 0 $spacing-sm;
}

p {
  margin-block: 0 $spacing-sm;
}

a {
  color: $color-primary;
}
